# Binários comuns
*.exe
*.exe~
*.dll
*.so
*.dylib

# Binário de testes (`go test -c`)
*.test

# Saída de cobertura (`go test`)
*.out

# Pastas que não devem ir pro repositório
/tmp/
/docs/       # <-- agora com barra inicial

# Arquivos do Go workspace
go.work
go.work.sum

# Arquivos de ambiente
.env
